#editRecipeScreen
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#recipeDisplay
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-width: fit-content;
}

.newRecipeDesc{
    display: flex;
    flex-direction: column;
}

.newRecipeImage{
    display: flex;
    flex-direction: column;
}

#recipeDesc{
    width: 33vw;
    height: 10vh;
    resize: none;
    padding: 3px;
}

.newInfo1Row1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.timeField{
    width: 10vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fieldLabel{
    font-weight: bold;
    font-size: 18pt;
    white-space: nowrap;
}

#uploadButton{
    height: 10vh;
    width: 10vh;
}

#editRecipeDesc, #editRecipeIngreds, #editRecipeDirects
{
    width: 500px;
    height: fit-content;
}

#deleteButtonEdit #deleteButtonDiv
{
    display: block;
    position: static;
    left: 0;
    right: 0;
}

#deleteButtonEdit #deleteButtonDiv svg
{
    position: static;
    float: right;
}