.newRecipeDesc{
    display: flex;
    flex-direction: column;
}

.newRecipeImage{
    display: flex;
    flex-direction: column;
}

#recipeDesc{
    width: 33vw;
    height: 10vh;
    resize: none;
    padding: 3px;
}

.newInfo1Row1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.timeField{
    width: 10vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fieldLabel{
    font-weight: bold;
    font-size: 18pt;
    white-space: nowrap;
}

#uploadButton{
    height: 10vh;
    width: 10vh;
}