.profile{
	display: flex;
	flex-direction: column;
	flex: 9;
	justify-content: center;
	background-color: #ffe1a8;
}

.profileTop{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 80vw;
	height: 80vh;
}

.profileCover{
	width: inherit;
	display: flex;
	justify-content: center;
	height: 320px;
	position: relative;
	transform: rotate(0.0turn);
}

.profileCoverImg
{
	transform: rotate(0.0turn);	
	width: inherit;
	height: 100%;
	object-fit: cover;
	margin: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.8);
}

#flexBoxHorizontal
{
	margin-top: 15px;
	height: fit-content;
	width: 100%;
	display: flex;
	height: fit-content;
	align-items: center;
}

.profileUserImg{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	top: 250px;
	margin: auto;
    outline: 2px solid rgba(29, 29, 29, 0.5);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}



.profileInfo
{
	background-color: rgba(255, 255, 255, 0.795);
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
	width: inherit;
	height: 75vh;
	padding-left: 20px;
	padding-right: 20px;
}

#infoContainer
{
	transform:rotate(0.0turn);
	background-color: red;
	width: fit-content;
}


#aboutMeDiv
{
	background-color: #FFFAAB;
	height: 80%;
	font-size: 20px;
	position: relative;
	display: flex;
	justify-content: left;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.33);
	flex: 3;
	padding: 10px;
	border-radius: 5px;
	max-width: 30%;
}

#aboutMeContent
{
	padding: 5px;
	word-break:break-all;
	width: 100%;
}


#aboutMeText
{
	word-break:break-all;
}

#pfpDiv
{
	white-space: normal;
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	transform: rotate(0.0turn);		
	text-align: center;
	justify-content: center;
	font-size: 40px;
	font-weight: bold;
	margin: 15px;
	position: relative;
	top: -180px;
	flex: 6;
}

#rightProfileDiv
{
	word-wrap: none;
	height: 80%;
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #FFFAAB;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.33);
	max-width: 30%;
}

#rightProfileDiv span
{
	margin-top: 5px;
	position: relative;
	width: 100%;
	padding: 5px;
	height: fit-content;
}

#rightProfileDiv p:hover
{
	cursor: pointer;
	transition: 0.2s;
}

.follow th
{
	padding: 10px;
	font-size: 16px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid black;
	position: relative;
	bottom: -2px;
}

.follow td
{
	padding: 0px;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 0px 0px 10px 10px;
}

.follow tr
{
	border-radius: 0px 0px 10px 10px;
	border-collapse-top: collapse;
	border-collapse-bottom: collapse;
}

.follow
{
	margin: 5px;
	border-top: none;
	border-radius: 10px;
	border-collapse: separate;
	border-collapse-top: collapse;
	border-collapse-bottom: collapse;
	margin-top: -30px;
	
}

#followerFollowing
{
	flex: 8;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#aboutMeText
{
	word-wrap: break-word;
	position: relative;
}


.profileInfoName{
	height: fit-content;
	position: relative;
	font-size: 40px;
	background-color: green;
	bottom: 100%;
}

.profileInfoDesc{
	position: relative;
	top: 85px;
	font-size: 20px;
	color: rgb(0, 0, 0);

}

.-editProfileButton-{
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	left: 32vw;
	bottom: 100px;
    width: 7vw;
    height: 35px;
	min-width: 100px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.795);
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

.editProfileButton
{
	border: 1px solid black;
	padding: 3px 10px 3px 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	background-color:#FFF99E;
}

.editProfileButton p
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
}

.editProfileButton:hover{
    cursor: pointer;
    transition: 0.2s ease;
    background-color: rgba(255, 173, 125, 0.795);
}

.profileBottom{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileBottomInfo{
	width: 80vw;
	background-color: rgba(255, 255, 255, 0.795);
	height: 100vh;
	padding: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

.break{
	height: 20px;
	width: 80vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

.feedItem{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 170px;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

.feedArea{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#createRecipe
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	border: 2px dashed gray;
	border-radius: 10px;
	min-width: 300px;
	background-color: rgb(246, 246, 246);
}

#createRecipeText:after
{
	content: "";
    display: block;
    width: 0%;
	border-bottom: 1px solid rgb(26, 26, 26);
	margin: 0 auto;
	margin-top: 3px;
}

#createRecipe:hover
{
	transition: 0.3s;
	box-shadow: 0px 0px 10px rgb(26, 26, 26);
	cursor: pointer;
}

#createRecipe:hover #createRecipeText:after
{
	transition: 0.5s;
	content: "";
    display: block;
    width: 100%;
	border-bottom: 1px solid rgb(26, 26, 26);
	margin: 0 auto;
	margin-top: 3px;
}