.profile{
	display: flex;
	flex-direction: column;
	flex: 9;
	justify-content: center;
	background-color: #ffe1a8;
}

.profileTop{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 80vw;
	height: 80vh;
}

.profileCover{
	width: inherit;
	display: flex;
	justify-content: center;
	height: 320px;
	position: relative;
	transform: rotate(0.0turn);
}

.profileCoverImg
{
	transform: rotate(0.0turn);	
	width: inherit;
	height: 100%;
	object-fit: cover;
	margin: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.8);
}

#pfpDiv
{
white-space: normal;
	display: flex;
	flex-direction: column;
	width: 100%;
	transform: rotate(0.0turn);		
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
	top: 75%;
	font-size: 40px;
	font-weight: bold;
}

.profileUserImg{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	top: 250px;
	margin: auto;
    outline: 3px solid rgb(29, 29, 29);
}

.profileInfo{
	background-color: rgba(255, 255, 255, 0.795);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
	width: inherit;
	height: 60%;
	}

#infoContainer
{
	transform:rotate(0.0turn);
	background-color: red;
	width: fit-content;
}

#name
{
}

#aboutMe
{
	text-align: center;
	height: 25px;
}

#aboutMeDiv
{
	font-size: 20px;
	position: relative;
}

#aboutMeContent
{
	position: relative;
}

.profileInfoName{
	height: fit-content;
	position: relative;
	font-size: 40px;
	background-color: green;
	bottom: 100%;
}

.profileInfoDesc{
	position: relative;
	top: 85px;
	font-size: 20px;
	color: rgb(0, 0, 0);

}

.editProfileButton{
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	left: 32vw;
	bottom: 100px;
    width: 7vw;
    height: 35px;
	min-width: 100px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.795);
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

#editProfileButtonText{
    font-size: 1vw;
}

.editProfileButton:hover{
    cursor: pointer;
    transition: 0.2s ease;
    background-color: #c2c2c2;
}

.profileBottom{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileBottomInfo{
	width: 80vw;
	background-color: rgba(255, 255, 255, 0.795);
	height: 100vh;
	padding: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

.break{
	height: 20px;
	width: 80vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

.feedItem{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 170px;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

.feedArea{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
