* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #000;
    background-color: #F3BA55;
}

.button:hover {
    background:rgb(250, 67, 0);
    transition: all 0.3s ease;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.center {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#loginForm {
    max-width: 500px;
    max-height: 700px;
    margin: 0 auto;
    text-align: center;
    border-style: none;
}

#loginForm .form-control{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    height: 25px;
    text-align: left;
    border-radius: 5px;
    margin-top: 5px;
}

#loginButton {
    width: 65%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 10px;
}

#loginDiv {
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

#forgot {
    padding-bottom: 10px;
}


#signUp {
    width: 300px;
    height: 0 auto;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

#signUpText {
    padding-top: 10px;
}

#signUpLink {
    text-decoration: none;
}

#appDiv {
    background-img: url(./imgs/food.jpg);
}

#loginAll {
    background-img: url(./imgs/food.jpg);
}

#registerDiv {
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF
}

#signUpForm {
    max-width: 500px;
    max-height: 700px;
    margin: 0 auto;
    text-align: center;
}

#signUpForm .form-control{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    height: 25px;
    text-align: left;
    border-radius: 5px;
    border-color: LightGray;
    margin-top: 5px;
}

#signUpButton {
    width: 65%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

#logo {
    width: 134px;
    height: 50px;
    object-fit: scale-down;
}

#mainContainer {
    display: flex;
}

#appLink {
    display: flex;
    width: 300px;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    height: 200px;
}

#appLinkText {
    flex: 12;
}

.row{
    padding: 3vh;
    justify-content: center;
}

.col{
    text-align: center;
    width: 300px;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    background-color: #ffffff;
}

.col-3{
    width: 10px;
    margin: 0;
}

.col-4{
    width: auto;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.3vw;
}

.navItem:hover{
    transition: all 0.3s ease;
    color: #FFFFFF;
    cursor: pointer;
}