* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #000;
    background-color: #F3BA55;
}

.button:hover {
    background:rgb(250, 67, 0);
    transition: all 0.3s ease;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.center {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#appDiv {
    background-img: url(./imgs/food.jpg);
}

#loginAll {
    background-img: url(./imgs/food.jpg);
}

#logo {
    width: 134px;
    height: 50px;
    object-fit: scale-down;
}

#mainContainer {
    display: flex;
}

#appLink {
    display: flex;
    width: 300px;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    height: 200px;
}

#appLinkText {
    flex: 12;
}