#editRecipe
{
    position: static;
    float: right;
    font-size:60px;
    cursor:pointer;
    border: 2px solid gray;
    border-radius: 10px;
}

#editRecipe:hover
{
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    fill: rgb(255, 255, 255);
    background-color: #F3834E;
}