#navbar {
    background: #f3834e;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.8);
}

.navbar__container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    padding: 0 50px; 
    white-space: nowrap;

}

#navbar__logo{   
    height: auto;
    width: 120px;
}

#logoContainer {
    display: flex;
    flex: 4;
    justify-content: left;
}

#logoContainer a {
    text-decoration: none;
    color: inherit;
    
}

#navbar__logo {
    background-color:rgb(4, 93, 122);
    background-image: linear-gradient(to top, rgb(255, 0, 0) 0%, rgb(247, 137, 137) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    max-width: 644px;
}

#navBarMiddle {
    flex: 4;
    height: 30px;
    width: 70%;
    min-width: 115px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    transition: 1.0s;
    outline: 3px solid #BC6942;
}

#navBarMiddle:hover
{
    outline: 4px solid #BC6942;
    transition: 0.2s;
}

#navBarMiddle:hover #searchIcon
{
    transition: 1s;
    transform: rotate(1turn);
}

#searchbar {
    border: none;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    height: 95%;
}

#searchbar:focus{ 
    outline: none;
}

#searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

#navBarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: rotate(0.0turn);
}

.navLink {
    margin-right: 10px;
    font-size: 14px;
}

.navItem a{
    text-decoration: none;
    color: inherit;
}

.navItem {
    margin-right: 15px;
    position: relative;
}

#bookmarkButton:after, #homeButton:after
{	
    content: "";
    display: block;
    width: 0%;
	border-bottom: 1px solid black;
	margin: 0 auto;
	margin-top: 3px;
}

#bookmarkButton:before, #homeButton:before
{	
    content: "";
    display: block;
    width: 0%;
	border-bottom: 1px solid black;
	margin: 0 auto;
	margin-top: 3px;
}

#bookmarkButton:hover:after, #homeButton:hover:after
{	
    transition: 0.2s;
    content: "";
    display: block;
    width: 100%;
	border-bottom: 2px solid rgb(255, 255, 255);
	margin: 0 auto;
	margin-top: 3px;
}

#bookmarkButton:hover:before, #homeButton:hover:before
{	
    transition: 0.2s;
    content: "";
    display: block;
    width: 100%;
	border-bottom: 2px solid rgb(255, 255, 255);
	margin: 0 auto;
	margin-top: 3px;
}

#notifCount {
    width: 17px;
    height: 17px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#profilePicture {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    outline: 2px solid rgba(0, 0, 0, 0.2);
}

#profileButton
{
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 1;
  margin-left: -60px;
  margin-top: 0px;
  border-radius: 10px;
  padding: 5px;
  
}

#dropDownButtons
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}

#dropdown-content button:hover {background-color: #F7A781;}

#profileButton:hover #dropdown-content
{
    transition: 1s;
    display: block;
    flex-direction: column;
}

#profileButton:hover #dropdown-content {display: block;}

#dropdown-content button
{
    border: none;
    padding: 12px 16px;
    width: 100%;
    background-color: rgb(246, 243, 241);
}

#myProfileButton
{
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
}

#logOutButton
{
    border-radius: 0px 0px 10px 10px;
    margin-top: 5px;
}

.navItem:hover{
    transition: all 0.3s ease;
    color: #FFFFFF;
    cursor: pointer;
}

.navItem #profilePicture:hover
{
    transition: 0.2s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    outline: 3px solid rgba(255, 255, 255, 0.8);
}