.row{
    padding: 3vh;
    justify-content: center;
}

.col{
    text-align: center;
    width: 300px;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    background-color: #ffffff;
}

.col-3{
    width: 10px;
    margin: 0;
}

.col-4{
    width: auto;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.3vw;
}