#main
{
	margin-top: 1%;
	text-align: center;
	background-color: #ffe1a8 ;
}

#bookmarkPage
{
	height: 100vh;
	background-color: #ffe1a8;
}

#container{
	display: flex;
	justify-content: center;
}

#bookmarks{
	background-color: white;
	width: 80vw;
	margin: 25px;
	padding: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px rgba(0,0,0,0.37);
}

h3
{
	font-weight: bold;
}

