#addBookmark
{
    position: absolute;
    right:20px;
    font-size:60px;
    cursor:pointer;
    border: 2px solid gray;
    border-radius: 10px;
}

#addBookmark:hover
{
    transition: 0.2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bookmarkedButton, .bookmarkButton
{
    background-color: white;
    border: none;
}