#registerAll
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registerContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerDiv
{
    margin-top: 10px;
    width: 60%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #FFFFFF
}

#signUpForm {
    margin: 0 auto;
    text-align: center;
    border: none;
    margin-bottom: 20px;
}

#signUpForm input:focus
{
    outline: none;
}

#signUpForm .form-control
{
    padding: 10px;
    height: 25px;
    text-align: left;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 20px;
    margin-bottom: 5px;
    outline: none;
    transition: none;
}

#signUpForm.form-control:focus
{
    outline: none;
}

#createAccount
{
    margin-top: 20px;
    background-color: rgb(243, 131, 78);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

#createAccount:hover
{
    transition: 0.5s;
    background-color: rgb(255, 102, 28);
    color: ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#toLogIn
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 60%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #FFFFFF
}

#linkToLogin
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

#linkToLogin a
{
    text-decoration: none;
}

.center {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}



.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}